<template>
  <div>
    <p>counter is {{ doubleCounter }}</p>
    <p>Numbr of clicks: {{ stringCounter }} </p>
  </div>
</template>
<script>
  import {mapGetters} from 'vuex'
  import * as types from '../../store/types'

  export default {
    computed: {
      ...mapGetters({
        doubleCounter: types.DOUBLE_COUNTER,
        stringCounter: types.CLICK_COUNTER,
        users: types.GET_USERS
      })
    }
  }

</script>
