<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex xs12 sm8 offset-sm2>
          <v-card>
            <v-card-title primary-title>
              <h3>Edit book #{{ $route.params.id }}</h3>
            </v-card-title>
            <div>
              <router-link v-bind:to="{name: 'bookDetail', params: { id: $route.params.id } }">Back to details
              </router-link>
              <router-link v-bind:to="{name: 'Profile'}">Home</router-link>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
      <router-view></router-view>
    </v-container>

  </div>
</template>

<script>
  export default {
    beforeRouteEnter (to, from, next) {
      console.log('book edit')
      next()
    }
  }
</script>
