<template>
  <div>
    <button class="btn btn-primary" @click="getUsers">Get users</button>
    <button class="btn btn-primary" @click="asyncIncrementAction({by: 50, duration: 500})">Increment</button>
    <button class="btn btn-primary" @click="decrement(50)">Decrement</button>
  </div>
</template>
<script>
  import {mapActions, mapMutations} from 'vuex'
  export default {
    methods: {
      ...mapMutations([
        'increment',
        'decrement'
      ]),
      ...mapActions([
        'asyncIncrementAction',
        'asyncDecrementAction',
        'getUsers'
      ])
    }
  }
</script>
