<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2>
        <v-card>
          <v-card-title primary-title>
            <div class="text-md-center">
              <h3>Users</h3>
              <div>
                <app-result></app-result>
                <app-another-result></app-another-result>
                <app-counter></app-counter>
              </div>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
    <router-view></router-view>
  </v-container>
</template>

<script>
  import Result from './Result.vue'
  import AnotherResult from './AnotherResult.vue'
  import Counter from './Counter.vue'

  export default {
    computed: {
      value () {
        return this.$store.getters.value
      }
    },
    components: {
      appResult: Result,
      appAnotherResult: AnotherResult,
      appCounter: Counter
    }
  }
</script>
