<template>
  <div>
    <div v-for="user in users">
      <div class="row">
        <div class="col">{{ user.id }}. </div>
        <div class="col">{{ user.name }}</div>
        <div class="col">{{ user.phone }}</div>
        <div class="col">{{ user.company.name }}</div>
      </div>
    </div>
    <hr>
    <div>
      <p>Number of Users: {{ users.length }} </p>
      <p>Counter is {{ counter }}</p>
    </div>
  </div>
</template>
<script>
  import {mapGetters} from 'vuex'
  import * as types from '../../store/types'

  export default {
    computed: {
      ...mapGetters({
        counter: types.DOUBLE_COUNTER,
        users: types.GET_USERS
      })
    }
  }
</script>
