<template>
  <v-container>
  <v-layout>
    <v-flex xs12 sm8 offset-sm2>
      <v-card>
        <v-card-title primary-title>
          <div class="text-md-center">
            <h3>Profile</h3>
            <h4 class="headline mb-0">Name: {{ user.name }}</h4>
            <h4 class="headline mb-0">Mail: {{ user.email }}</h4>
            <h4 class="headline mb-0">Id: {{ user.id }}</h4>
            <h4 class="headline mb-0"><img :src="user.photoUrl" style='height: 120px'> </h4>
          </div>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
  </v-container>
</template>

<script>
  export default {
    computed: {
      user () {
        return this.$store.getters.user
      }
    }
  }
</script>
