<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2>
        <v-card>
          <v-card-title primary-title>
            <div class="text-md-center">
              <h3>404</h3>
              <div>
                <p>No page found</p>
                <p v-on:click="navigateToHome"><a>Home</a></p>
              </div>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    methods: {
      navigateToHome () {
        this.$router.push({name: 'Home'})
      }
    }
  }
</script>
