<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2>
        <v-card>
          <v-card-title primary-title>
            <h3>Book Details</h3>
          </v-card-title>
          <div>
            <p>Book loaded has ID: {{ $route.params.id }} </p>
              <!-- v-bind:to="'/books/'+$route.params.id+'/edit'"-->
              <router-link v-bind:to="{name: 'bookEdit', params: { id: $route.params.id } }">Edit book</router-link> -
              <router-link v-bind:to="link">Special query book</router-link> *
              <router-link v-bind:to="{name: 'about'}">About</router-link>

            <router-view></router-view>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        link: {
          name: 'bookEdit',
          params: {
            id: this.$route.params.id
          },
          query: {
            locale: 'en',
            a: 100
          },
          hash: '#data'
        }
      }
    },
    beforeRouteEnter (to, from, next) {
      // test if authenticated for example
      console.log('detail')
      next()
    }
  }
</script>
