<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2>
        <v-card>
          <v-card-title primary-title>
            <div class="text-md-center">
              <h3>Books</h3>
              <div>
                <bookList></bookList>
              </div>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
    <router-view></router-view>
  </v-container>
</template>

<script>
  import bookList from './BookStart.vue'

  export default {
    components: {
      bookList: bookList
    },
    beforeRouteEnter (to, from, next) {
      console.log('books')
      next()
    }
  }
</script>
