<template>
  <div>
    <p>Please select a Book</p>
    <hr>
    <ul v-if="books && books.length">
      <li v-for="(book, index) in books" v-if="index < 5">
        <p>Book # {{book.id}} -
          <router-link v-bind:to="{name: 'bookDetail', params: { id: book.id }}">Details</router-link>
        </p>
      </li>
    </ul>

    <ul v-if="errors && errors.length">
      <li v-for="error in errors">
        {{error.message}}
      </li>
    </ul>

    <router-link v-bind:to="{name: 'Home'}">Home</router-link>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        loading: false,
        books: [],
        errors: []
      }
    },
    beforeRouteEnter (to, from, next) {
      console.log('book start')
      next()
    },
    name: 'books',
    created () {
      this.$store.dispatch('getAllBooks', {self: this})
    },
    methods: {
      filterUsers () {
        // do something with users
        console.log('Books--->', this.$store.state.users)
      }
      /*
      created () {
        this.fetchData()
      },
      methods: {
        fetchData () {
          this.$store.dispatch('getAllBooks')

  //        this.$store.actions.getAllBooks
        */
      /*
      this.error = this.books = null
      this.loading = true
      this.$http.get(`http://jsonplaceholder.typicode.com/posts`)
        .then(response => {
          // JSON responses are automatically parsed.
          this.books = response.data
          this.loading = false
          console.log(this.books)
        })
        .catch(e => {
          this.errors.push(e)
        })
        */
    }
  }
</script>
