<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex xs12 sm8 offset-sm2>
          <v-card>
            <v-card-title primary-title>
              <h3>About</h3>
            </v-card-title>
            <div>
              This is a down top route example
              <p>

              <router-link v-bind:to="{name: 'Books'}">Books list</router-link>
              </p>

            </div>
          </v-card>
        </v-flex>
      </v-layout>
      <router-view></router-view>
    </v-container>

  </div>
</template>

<script>
  export default {
    beforeRouteEnter (to, from, next) {
      console.log('About')
      next()
    }
  }
</script>
